<form class='form'>
<div  class=' form-group'>
<label  class=' label'>Name</label>
<input  class=' input form-control' placeholder='Type here your name' name=input_template-ip1e [(ngModel)]="testentity.name"/>
</div>
<div  class=' form-group'>
<label  class=' label'>Email</label>
<input  class=' input form-control' type='email' placeholder='Type here your email' name=input_template-iv3t [(ngModel)]="testentity.place"/>
</div>
<div  class=' form-group'>
<label  class=' label'>Gender</label>
<input  class=' checkbox' type='checkbox' value='M' name=checkbox_template-iiuhk/>
<label  class=' checkbox-label'>M</label>
<input  class=' checkbox' type='checkbox' value='F' name=checkbox_template-io04k/>
<label  class=' checkbox-label'>F</label>
</div>
<div  class=' form-group'>
<label  class=' label'>Message</label>
<textarea  class=' textarea form-control' name=textbox_template-iprsh></textarea>
</div>
<div  class=' form-group'>
<button  class=' button btn btn-primary' type='submit' name=button_template-iu6cp (click)="GpCreate()">Send</button>
</div>
</form>